@page
@model Chmelar_Bielik_Honzatko_Hubicka.Pages.ActiveGamesModel
@{
    ViewData["Title"] = "ActiveGames";
}

@if (Model.MessageSuccess?.Length > 0)
{
    <div class="alert alert-success" role="alert">@TempData["MessageSuccess"]<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
}
@if (Model.MessageError?.Length > 0)
{
    <div class="alert alert-warning" role="alert">@TempData["MessageError"]<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
}
<a asp-page="/Preparation" class="btn btn-success text-right">založit novou hru</a>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <h1>Připojení ke hře</h1>
            <h2> My Games</h2>
            <div class="table-responsive-sm">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Stav hry</th>
                            <th>Hráč 1</th>
                            <th>Hráč 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MyGameLists)
                        {
                            <tr>
                                <td>@item.Gamestate</td>
                                <td>@item.Owner</td>
                                <td>@item.Player</td>
                                <th></th>
                            </tr>
                        <td>
                            <form method="post" asp-page-handler="JoinGame">
                                <button class="btn btn-primary">Play</button>
                                <input type="hidden" name="id" value="@item.GameId" />
                            </form>
                        </td>
                        @if (Model.UserId == item.OwnerId)
                        {
                            <td>
                                <form method="post" asp-page-handler="RemoveGame">
                                    <button class="btn btn-danger">Delete</button>
                                    <input type="hidden" name="id" value="@item.GameId" />
                                </form>
                            </td>

                        }
                        }
                    </tbody>
                </table>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Game State</th>
                                <th>Round</th>
                                <th>Owner</th>
                                <th>Current player</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.OtherGames)
                            {
                            <tr>
                                <td>@item.Gamestate</td>
                                <td>@item.Owner</td>
                                <td>@item.Player</td>
                                <td>
                                    <form method="post" asp-page-handler="JoinGame" asp-action="btnRedirect">
                                        <button class="btn btn-primary">Join</button>
                                        <input type="hidden" name="id" value="@item.GameId" />
                                    </form>
                                </td>
                            </tr>
                            }
                        </tbody>


                    </table>
                </div>
        </main>
    </div>
</body>


