@page
@model Chmelar_Bielik_Honzatko_Hubicka.Pages.ActiveGamesModel
@{
    ViewData["Title"] = "ActiveGames";
}

@if (Model.MessageSuccess?.Length > 0)
{
    <div class="alert alert-success" role="alert">@TempData["MessageSuccess"]<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
}
@if (Model.MessageError?.Length > 0)
{
    <div class="alert alert-warning" role="alert">@TempData["MessageError"]<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
}
<a asp-page="/Preparation" class="btn btn-success text-right">Create a new game</a>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <h1>Join Game!</h1>
            <h2> My Games</h2>
            <div class="table-responsive-sm">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Game State</th>
                            <th>Player 1</th>
                            <th>Player 2</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.MyGames)
                        {
                        <tr>
                            <td>@item.Gamestate</td>
                            <td>@item.Owner.UserName</td>
                            @if (item.Player != null)
                            {
                                <td>@item.Player.UserName</td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <th></th>
                        </tr>
                        <td>
                            <a class="btn btn-primary" asp-page-handler="Game" asp-route-id="@item.GameId">Play</a>
                        </td>
                        @if (Model.UserId == item.OwnerId)
                        {
                            <td>
                                <a class="btn btn-danger" asp-page-handler="RemoveGame" asp-route-id="@item.GameId">Delete</a>
                            </td>

                        }
                        }
                    </tbody>
                </table>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Game State</th>
                                <th>Owner</th>
                                <th>Current player</th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model.OtherGames)
                            {
                            <tr>
                                <td>@item.Gamestate</td>
                                <td>@item.Owner.UserName</td>
                                @if (item.Player != null)
                                {
                                    <td>@item.Player.UserName</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td>
                                    <a class="btn btn-primary" asp-page-handler="JoinGame" asp-route-id="@item.GameId">Join</a>
                                </td>
                            </tr>
                            }
                        </tbody>


                    </table>
                </div>
        </main>
    </div>
</body>


